#header-name {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}
#header-title {
    font-family: 'Courier New', Courier, monospace;
}
@media (max-width: 480px) {
    #header-title {
        font-size: 18px;
    }
}

