#projects-container {
    position: absolute;
    right: 18px;
    bottom: 18px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#game {
    background-image: url('../../assets/game-photo.webp');
    background-size: cover;
    height: 100px;
    width: 150px;
    transform: translateX(100%);
    animation: slide-left 0.5s ease-in-out forwards;
    margin-bottom: 20px;
}
#airplane {
    background-image: url('../../assets/airplane-photo.webp');
    background-size: cover;
    height: 100px;
    width: 150px;
    transform: translateX(100%);
    animation: slide-left 0.5s ease-in-out forwards 0.5s;
}
#airplane-link {
    height: 100%;
    width: 100%;
}

@keyframes slide-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}