#projects-container {
    position: absolute;
    right: 18px;
    bottom: 18px;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    direction: rtl;
    transform: scaleY(-1);
    gap: 8px;
}

#poke-api-border, #blackjack-border, #auto-shop-border, #pop-quiz-border, #chomiryo-border {
    background-color: gray;
    height: 150px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 2px 2px 1px white;
    transform: translateX(210%);
}
#poke-api-border {
    animation: slide-left 0.5s ease-in-out forwards 0.4s;
}
#blackjack-border {
    animation: slide-left 0.5s ease-in-out forwards 0.6s;
}
#auto-shop-border {
    animation: slide-left 0.5s ease-in-out forwards 0.8s;
}
#pop-quiz-border {
    animation: slide-left 0.5s ease-in-out forwards 1.18s;
}
#chomiryo-border {
    animation: slide-left 0.5s ease-in-out forwards 0.2s;
}
#poke-api, #blackjack, #auto-shop, #pop-quiz, #chomiryo {
    height: 140px;
    width: 150px;
    transform: scaleY(-1);
}
#poke-api {
    background-image: url('../../assets/pokeball-image.png');
    background-size: cover;
}
#blackjack {
    background-image: url('../../assets/Blackjack-image.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#auto-shop {
    background-image: url('../../assets/the-auto-shop-logo.png');
    background-size: 99% 99%;
    background-repeat: no-repeat;
    background-color: white;
}
#pop-quiz {
    background-image: url('../../assets/question-mark-image.png');
    background-size: 99% 99%;
    background-repeat: no-repeat;
    background-color: white;
}
#chomiryo {
    background-image: url('../../assets/egg-sizzle-gif.gif');
    background-size: cover;
    height: 140px;
    width: 150px;
}
.mouse-over-parent {
    background-color: aliceblue;
    height: 140px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.mouse-over {
    transform: scaleY(-1);
    direction: rtl;
    text-decoration: none;
    color: black;
    text-align: left;
    margin-left: 3px;
}
.mouse-over-github {
    text-align: center;
    text-decoration: underline;
    position: absolute;
    top: 10px;
    right: 10px;
}
a {
    text-decoration: none;
}
@media (max-width: 500px) {
    #projects-container {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;
        right: 10px;
    }
    #poke-api-border, #blackjack-border, #auto-shop-border, #pop-quiz-border {
        transform: translateX(210%);
    }
    #poke-api-border {
        animation: slide-left 0.5s ease-in-out forwards 0.3s;
    }
    #blackjack-border {
        animation: slide-left 0.5s ease-in-out forwards 0.5s;
    }
    #auto-shop-border {
        animation: slide-left 0.5s ease-in-out forwards 0.9s;
    }
    #pop-quiz-border {
        animation: slide-left 0.5s ease-in-out forwards 1.2s;
    }
    #chomiryo-border {
        animation: slide-left 0.5s ease-in-out forwards 0.1s;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(220%);
    }
    100% {
        transform: translateX(0);
    }
}