* {
    padding: 0;
    margin: 0;
}

/* body {
    margin: max(40px, 8vh);
} */

#body-dark {
    height: 100vh;
    width: 100vw;
    background-color: #0a0a0a;
}

#body-light {
    height: 100vh;
    width: 100vw;
    background-color: #ebedf0;
}

#outer-frame {
    padding: 30px;
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px
}

#spacer {
    height: 20px;
}

#button-parent {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
}

#home-link,
#resume-link, 
#projects-link, 
#contact-link {
    margin: 3px;
    border: none;
    cursor: pointer;
    background: none!important;
    padding: 3px;
    font-size: 15px;
    font-weight: 600;
}

#home-link:hover,
#resume-link:hover, 
#projects-link:hover, 
#contact-link:hover {
    color: darkgray;
}

.dark-mode-buttons {
    color: white;
}

.light-mode-buttons {
    color: black;
}