#nav-parent {
    margin-top: 8px;
}
/* ! IDK what is happening */

#dark-mode-links {
    margin: 0 14px 0 0;
    color: white;
}
#dark-mode-links:visited {
    color: white;
}

#light-mode-links {
    /* padding-top: 8px; */
    margin: 0 14px 0 0;
    color: black;
}
#light-mode-links:visited {
    color: black;
}